/*****************************************************************************
*                                                                            *
*     FEUILLE DE STYLE DU MODULE PETITES ANNONCES ~ SYLV@GENIUTT 11/2006     *
*                                                                            *
******************************************************************************/


/***   STYLE DU MODULE EN LUI-MÊME   ***/

.trade
{
	border-color: rgb(235,180,145);
}

.trade .title
{
	background-color: rgb(234,138,80);
	border-color: rgb(235,180,145);
}

* html #index .trade .title
{
  background: url(../../images/modules/titles/module-title_234-138-80.png) repeat-x top;
}

*+html #index .trade .title
{
  background: url(../../images/modules/titles/module-title_234-138-80.png) repeat-x top;
}

.trade .title .extraDiv1 span
{
	background-image: url(../../images/modules/logos/module-trade.png);
}

* html .trade .title .extraDiv1 span
{
	background-image: expression((function(element){
		element.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + skinFolder + "/images/modules/logos/module-trade.png', sizingMethod='scale')";
		return 'none';
		})(this));
}

.trade .content
{
	padding: 0px 10px 10px 10px;
}



/***   STYLE DES ELEMENTS GENERAUX DU MODULE   ***/

.trade .content .item_line
{
	position: static;
	z-index: 1;
	margin: 2px 0px 2px 10px;
	padding: 0px 0px 0px 5px;
	font-size: 0.9em;
}

* html .trade .content .item_line
{
	position: relative;
}

*+html .trade .content .item_line
{
	position: relative;
}

.trade .content .items_category
{
	font-weight: bold;
	margin: 6px 0px 2px 10px;
}

.trade .content .items_category a
{
	color: rgb(100,100,100);
}

.trade .content .item_title
{
	margin: 0px 0px 0px 0px;
	width: 250px;
}

.trade .content .item_subcategory
{
	margin: 0px 0px 0px 0px;
	width: 160px;
}

.trade .content .item_moderated
{
	margin: 0px 0px 0px 0px;
}

.trade .content .item_tooltip
{
	display: block;
	position: relative;
}

.trade .content .item_tooltip .item_photo
{
	float: left;
}

.trade .content .item_tooltip .item_desc
{
	position: relative;
}


/***   STYLE DE LA PARTIE "Mes annonces"   ***/

.trade .content .my_title_block
{
	position: relative;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.trade .content .my_title_block .titre_menu
{
	position: relative;
	font-size: 1.2em;
	font-weight: 100;
	color: rgb(85,80,160);
	border-bottom: 2px solid rgb(170,170,230);
}

.trade .content .my_title_block .titre_menu a
{
	position: relative;
	color: rgb(85,80,160);
}

.trade .content .my_title_block .titre_menu span
{
	position: relative;
	font-size: 1.3em;
	color: rgb(170,170,230);
}

.trade .content .my_block 
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

* html .trade .content .my_block
{
	position: relative;
}

*+html .trade .content .my_block
{
	position: relative;
}

.trade .content .my_a
{
	background: rgb(192,192,241);
}

.trade .content .my_b
{
	background: rgb(225,225,250);
}


/***   STYLE DE LA PARTIE VENTE   ***/

.trade .content .selling_title_block
{
	position: relative;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.trade .content .selling_title_block .titre_menu
{
	position: relative;
	font-size: 1.2em;
	font-weight: 100;
	color: rgb(85,160,80);
	border-bottom: 2px solid rgb(170,221,167);
}

.trade .content .selling_title_block .titre_menu span
{
	position: relative;
	font-size: 1.3em;
	color: rgb(170,221,167);
}

.trade .content .selling_block 
{
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.trade .content .selling_a
{
	background: rgb(195,241,192);
}

.trade .content .selling_b
{
	background: rgb(227,250,225);
}



/***   STYLE DE LA PARTIE ACHAT   ***/

.trade .content .buying_title_block
{
	position: relative;
	margin: 10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.trade .content .buying_title_block .titre_menu
{
	position: relative;
	font-size: 1.2em;
	font-weight: 100;
	color: rgb(210,124,72);
	border-bottom: 2px solid rgb(240,193,165);
}

.trade .content .buying_title_block .titre_menu span
{
	position: relative;
	font-size: 1.3em;
	color: rgb(235,184,153);
}

.trade .content .buying_block 
{
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.trade .content .buying_a
{
	background: rgb(246,216,198);
}

.trade .content .buying_b
{
	background: rgb(248,236,229);
}



/*** STYLE DES LIGNES DE COMMENTAIRES ***/

.trade .content .comment
{
	font-size: 0.9em;
	margin-left: 15px;
	position: relative;
	font-style: italic;
}

.trade .content .comment a
{
	font-weight: bold;
	color: rgb(85,80,160);
}



/** BUGS IE **/

* html .trade .content .item_line
{
	zoom: 1;
}

* html .trade .content .buying_title_block,
* html .trade .content .buying_block
{
	zoom: 1;
	position: relative;
}

* html .trade .content .my_title_block,
* html .trade .content .my_block
{
	zoom: 1;
	position: relative;
}

* html .trade .content .selling_title_block,
* html .trade .content .selling_block
{
	zoom: 1;
	position: relative;
}

*+html .trade .content .item_line
{
	zoom: 1;
}

*+html .trade .content .buying_title_block,
*+html .trade .content .buying_block
{
	zoom: 1;
	position: relative;
}

*+html .trade .content .my_title_block,
*+html .trade .content .my_block
{
	zoom: 1;
	position: relative;
}

*+html .trade .content .selling_title_block,
*+html .trade .content .selling_block
{
	zoom: 1;
	position: relative;
}
