/***********************************************
*                                              *
*       FEUILLE DE STYLE DES COORDONNEES       *
*                                              *
************************************************/


.page fieldset
{
	border: none;
	margin: 0px 0px 0px 0px;
}

.page fieldset legend
{
	margin: 10px 0 10px 0;
	color: rgb(105,10,140);
	font-weight: bolder;
	font-size: 1.2em;
}

.page .tabs
{
  background: rgb(223,223,236);
	margin: 0px 0px 0px 0px;
	border: none;
	border-bottom: 1px solid rgb(155,154,199);
}

* html .page .tabs
{
	background-image: none;
}

.page .tabs li a
{
	font-weight: bold;
	color: rgb(95,95,155);
	display: inline;
	border: 0px solid rgb(155,154,199);
}

* html .page .tabs li a
{
	font-weight: bold;
	color: rgb(95,95,155);
	display: inline;
	border: 0px solid rgb(155,154,199);
	background-image: none;
}

.page .tabs a:hover
{
	background: rgb(111,111,164);
	color: white;
}

* html .page .tabs a:hover
{
	background: rgb(111,111,164);
	background-image: none;
	color: white;
}

.page .tabs .selectedTab a
{
	font-weight: bolder;
	background: rgb(155,154,199);
	color: white;
}

* html .page .tabs .selectedTab a
{
	font-weight: bolder;
	background: rgb(155,154,199);
	color: white;
}

.page .tabs .selectedTab
{
	font-weight: bolder;
	background: rgb(155,154,199);
	background-image: none;
	color: white;
}

* html .page .tabs .selectedTab
{
	font-weight: bolder;
	background: rgb(155,154,199);
	background-image: none;
	color: white;
}

.page fieldset .form-submit input
{
  font-family: "Trebuchet MS";
	display: block;
	cursor: pointer;
	font-size: 1em;
  color: rgb(98,98,160);
	padding: 2px 4px 2px 4px;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	background: rgb(223,223,236);
	border: 1px solid rgb(155,154,199);
}

.page fieldset .form-submit input:hover
{
	font-weight: bolder;
	background: rgb(155,154,199);
	color: white;
}

.page fieldset a
{
  width: 120px;
	font-family: "Trebuchet MS";
	display: block;
	cursor: pointer;
	font-size: 1em;
  color: rgb(98,98,160);
	padding: 2px 4px 2px 4px;
	margin: 4px 0px 0px 2px;
	font-weight: bold;
	background: rgb(223,223,236);
	border: 1px solid rgb(155,154,199);
}

.page fieldset a:hover
{
	font-weight: bolder;
	background: rgb(155,154,199);
	color: white;
}

.bloc
{
	background: white;
	border: 1px solid rgb(155,154,199);
}

.photo_bloc
{
	padding: 0px 10px 0px 10px;
}
