.albums{
float:left;
width:32%;
margin:1%;
}
.visualisation_photo{
float:right;
width:62%;
margin:1%;
}
.diapo{
float:left;
clear:both;
width:100%;
margin:1%;
}
.mini{
float:left; 
left:190px;
z-index:20;
margin:1%;
}
