/***************************************************
*                                                  *
*       FEUILLE DE STYLE DE LA PARTIE SURVEY       *
*                                                  *
****************************************************/


/***   BARRE DE MODULE   ***/

#surveys .menu_block .module .title
{
  background-color: rgb(214, 219, 255);
  border-bottom: 1px solid rgb(173, 183, 255);
}
* html #surveys .menu_block .module .title
{
  background: url(../../images/modules/titles/module-title_214-219-255.png) repeat-x top;
}

#surveys .menu_block .module .title h2
{
  float: left;
  margin: -0.7em 5px -0.7em 10px;
  color: rgb(66, 63, 148);
  text-transform: capitalize;
	font-weight: 900;  
}

#surveys .menu_block .module .title .extraDiv1 span
{
  height: auto;
  width: auto;
  background: none;
}



/***   BLOC DU MENU DE GAUCHE   ***/

#surveys .menu_block
{
	margin: 0px 20px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 180px;
}

#surveys .menu_block .sep
{
	height: 15px;
}

/*** BLOC DU MODULE DE DROITE ***/

#surveys .list_block
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 570px;
}

	/*** Conteu du module ***/

		/*** Elements généraux ***/
		
#surveys #SurveysList
{
	margin-top: -15px;
}

#surveys em
{
	line-height: 0.9em;
	font-size: 0.9em;
}

#surveys .titre_menu
{
	font-size: 1.2em;
	font-weight: normal;
}

#surveys .titre_menu span
{
	font-size: 1.4em;
	font-weight: normal;
}

		/*** Style de la liste des sondages terminés ***/

#surveys .ended_surveys
{
	width: 540px;
	margin: 15px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#surveys .ended_survey_block
{
	width: 540px;
	height: 20px;
	margin: 2px 0px 2px 0px;
	padding: 0px 0px 0px 0px;
}

#surveys .ended_survey_block.a1
{
	background: rgb(216,219,236);
}

#surveys .ended_survey_block.b1
{
	background: rgb(233,235,245);
}

#surveys .ended_survey_title
{
	float: left;
	overflow: hidden;
	width: 420px;
	height: 20px;
	margin: 0px 5px 0px 5px;
	padding: 2px 0px 0px 0px;
	font-size: 0.9em;
	font-weight: bold;
}

#surveys .ended_survey_title a
{
	color: rgb(73,80,122);
}

#surveys .ended_survey_title a:hover
{
	color: rgb(19,29,94);
}

#surveys .ended_survey_date
{
	float: left;
	overflow: hidden;
	width: 105px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 0px;
	font-size: 0.8em;
	text-align: right;
}

		/*** Style des titres des questions / Réponses ***/

#surveys .survey_title_block,
.dialbox .survey_title_block
{
	width: 520px;
	overflow: hidden;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: rgb(32,55,133);
	font-weight: bold;
}

#surveys .survey_title_block em,
.dialbox .survey_title_block em
{
	font-weight: normal;
	color: black;
}

#surveys .survey_answer_block,
.dialbox .survey_answer_block
{
	width: 480px;
	overflow: hidden;
	margin: 2px 0px 0px 8px;
	padding: 0px 0px 0px 0px;
	font-size: 0.9em;
}

		/*** Style des blocs de résultats ***/

#surveys .results_block,
.dialbox .results_block
{
	width: 300px;
	height: 12px;
	margin: 0px 0px 0px 8px;
	padding: 0px 0px 0px 0px;
	background: rgb(215,226,224);
}

#surveys .results_block span,
.dialbox .results_block span
{
	position: absolute;
}

#surveys .results,
.dialbox .results
{
	height: 12px;
	padding: 0px 0px 0px 0px;
	line-height: 0px;
	font-size: 0px;
	background: rgb(145,231,139);
	border-right: 1px solid #f6fff5;
}

/***   Message de confirmation   ***/

#surveys .msg_info
{
	margin: 20px 0px 0px 0px;
	color: rgb(100,105,211); 
	font-style: italic;
}
